<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31" >
        <activity
            android:name=".Controllers.MainActivity2Felicitaciones"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel8"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel7"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel6"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel5"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel4"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel3"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel2"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity2Nivel1"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>